<div>
<h1>All lists</h1>
  <div class="cards">
    <% @lists.each do |list| %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= list.movies.first.poster_url %>')">
              <%= link_to list_path(list) do %>
              <%= list.name %>
              <%= link_to list_path(list), method: :delete, data: { confirm: "Are you sure?" } do  %>
              <div class="delete">
              <p><i class="fa-solid fa-circle-minus"></i></p>
              </div>
              <% end %>
            </div>
          <% end %>
    <% end %>
  </div>
</div>
