<nav>
<h1><i class="fa-solid fa-circle-play"></i> 🎬 <%= link_to 'Player',  lists_path %></h1>

<ul>
<p>MENU</p>
  <li>➕ <%= link_to 'Create list',  new_list_path %></li>
  <li>👁 <%= link_to "All list", lists_path %></li>
</ul>
</nav>
