.card-list {
  width: 150px;
  height: 150px;
}

.card-background {
  height: 12em;
}

.movie-card {
  width: 18em;
  padding: 1em;
  border-radius: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: .2em;
  img {
    width: 100%;
    border-radius: 1.2em;
  }
  h1 {
    font-size: 1em;
    font-weight: bold;
  }
  p {
    font-weight: lighter;
    color: #918E9B;
  }
  .comment-section p {
    margin-bottom: 0;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .comment-section {
    justify-self: flex-end;
  }
}
